body {
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
  }


 h1{
    font-size: 2em;
    font-size: 5vm;
    margin-bottom: 20;
    text-align: center;
    padding:20px;
  }

  h4{
    color:rgb(65, 190, 234);
  }
  
  /** HEADER **/
  #header-nav {
    background-color:rgb(40, 40, 40); 
    color: white;
    border-radius: 0;
    border: 0;
  }
  
  #logo-img {
    background: url('../images/EMPEDATA_m.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand .brand { /* EMPEDATA */
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
    text-align: right;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .navbar-brand p { /* domain */
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    text-align: right;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: white;
    text-align: center;
  }

  #nav-list .highlight1:hover {
    background: rgb(0, 173, 239);
    color: rgb(33,64,154);
  }

  #nav-list .highlight2:hover {
    background:  rgb(52, 173, 28);
    color: rgb(108,10,20);
  }

  #nav-list .highlight3:hover {
    background: rgb(243, 107, 45);
    color: rgb(255,255,255);
  }

  #nav-list .highlight4:hover {
    background: rgb(188, 30, 44);
    color: rgb(252,249,8);
  }

  #nav-list .highlight5:hover {
    background: rgb(146, 39, 143);
    color: rgb(246,109,50);
  }

  #nav-list a span {
    font-size: 1.8em;
  }
  
  #email {
    margin-top: 5px;
  }
  #email a { /* email */
    text-align: right;
    padding-bottom: 2px;
    color: white;
  }
  #email div { /* Get in touch */
    color:rgb(65, 190, 234);
    text-align: right;
    font-size: 0.8em;
    padding-right: 15px;
  }

  .block{
    font-size: 2em;
    font-size: 5vm;
    margin-bottom: 20;
    text-align: center;
    border: 2px solid;
    padding:20px;
    background-color: white;

  }


  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid rgb(65, 190, 234);
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -45px;
  }


 
/********** Large devices only **********/
@media (min-width: 1200px) {
  .smlscr_image {
    position: relative;
    clear:both;
    background: none;
    width:350px;  
    border-radius:12px;
    }
  
  .right_image {
    float: right;
    margin-right: 100px;
  }
  .left_image {
    float: left;
    padding-right: 10px;
    margin-left: 100px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .smlscr_image {
    position: relative;
    clear:both;
    background: none;
    width:350px; 
    border-radius:12px;
    }
  
  .right_image {
    float: right;
  }
  .left_image {
    float: left;
    padding-right:10px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.parallax1 {
  /* The image used */
  background-image: url('../images/digital-partnership1.png');
}


.parallax2 {
  /* The image used */
  background-image: url('../images/digital-partnership2.png');
}

.parallax3 {
  /* The image used */
  background-image: url('../images/digital-partnership3.png');
}

.parallax4 {
  /* The image used */
  background-image: url('../images/digital-partnership4.png');
}

.parallax5 {
  /* The image used */
  background-image: url('../images/digital-partnership5.png');
}

.parallax {

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-size:100% 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  text-align: center;
  text-decoration: none;
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .smlscr_image {
    position: relative;
    clear:both;
    background: none;
    width:350px; 
    border-radius:12px;
    }
  
  .right_image {
    float: right;
  }
  .left_image {
    float: left;
    padding-right:10px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

}

/********** Extra Small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url('../images/EMPEDATA_s.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 2px 2px 2px 5px;
  }

  .smlscr_image {
    width:100%; 
    
    }    
  

  .navbar-brand .brand{
    font-size: 1em; 
      padding-top: 5px;
  }
  
  .navbar-brand p{
  font-size: 0.8em;
  padding-top: 2px;
  }

  .navbar-brand{
  padding-top: 5px;
  }

  #collapsable-nav a span{
    font-size: 1em;
    margin-right: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}
  /* End Header */ 
  /* END HEADER */



  footer {
    padding-top:10px;

    margin-top: 20px;
    background-color: rgb(40, 40, 40); 
    border-radius: 0;
    border: 0;
  }
  #footer1 {
    color:white;
    float: left;
    font-size: 1.2em;
    
  }
  
  #footer1_sub {
    color:rgb(65, 190, 234);
    float: left;
    font-size: .7em;
    text-align: right;
    clear:both;
  }
  #footer2{
    color:white;
    float: right;
    font-size: 1.2em;
    
  }
  
  #footer2_sub {
    color:rgb(65, 190, 234);
    float: right;
    font-size: .7em;
    text-align: right;

    clear:both;
  }


  #brand {
    color:rgb(65, 190, 234);
    font-weight: bold;
  }

.required{
  position: relative; 
  top: -0.5em; 
  font-size: 80%;
  color:red;
}


  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(40,40,40);
  color: white;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border:2px solid black;
}

.accordion:after {
  content: '\002B';
  color: rgb(65, 190, 234);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.active:after {
  content: "\2212";
}
