.tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    /*border: 2px solid rgb(40, 40, 40);*/
    overflow: hidden;
  }


.tile:hover{
    /*box-shadow: 0 5px 10px 5px rgb(54, 133, 196);*/
    cursor: pointer;
  }


.tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    /*background-color: rgb(40, 40, 40);*/
    color: #fff;
    opacity: .8;
  }

.tile1 {
  border: 2px solid rgb(0, 173, 239);
  }

.tile1 span{
  background-color: rgb(0, 173, 239);
  color: rgb(33,64,154);
}
.tile1:hover{
  box-shadow: 0 5px 10px 5px rgb(0, 173, 239);
}

.tile2 {
  border: 2px solid rgb(52, 173, 28);
  }

.tile2 span{
  background-color: rgb(52, 173, 28);
  color: rgb(108,10,20);
}
.tile2:hover{
  box-shadow: 0 5px 10px 5px rgb(52, 173, 28);
}

.tile3 {
  border: 2px solid rgb(243, 107, 45);
  }
.tile3 span{
  background-color: rgb(243, 107, 45);
  color: rgb(255,255,255);
}
.tile3:hover{
  box-shadow: 0 5px 10px 5px rgb(243, 107, 45);
}

.tile4 {
  border: 2px solid rgb(188, 30, 44);
  }
.tile4 span{
  background-color: rgb(188, 30, 44);
  color: rgb(252,249,8);
}
.tile4:hover{
  box-shadow: 0 5px 10px 5px rgb(188, 30, 44);
}

.tile5 {
  border: 2px solid rgb(146, 39, 143);
  }
.tile5 span{
  background-color: rgb(146, 39, 143);
  color: rgb(246,109,50);
}
.tile5:hover{
  box-shadow: 0 5px 10px 5px rgb(146, 39, 143);
}

  
#ac_health-tile {
    background: url('../images/helicopter.png') no-repeat;
    background-position: center;
  }
  
#music-tile {
    background: url('../images/music_tile.png') no-repeat;
    background-position: center;
  }
  
#NLP-tile {
    background: url('../images/NLP_img.png') no-repeat;
    background-position: center;
  }

  
#skills-tile {
    background: url('../images/skills.png') no-repeat;
    background-position: center;
  }
  
  
#events-tile {
    background-color: rgb(40, 40, 40);
    background-position: center;
}

#forum-tile {
    background: url('../images/workshop_img.png') no-repeat;
    background-position: center;
}
  
#skills-tile {
    background: url('../images/skills.png') no-repeat;
    background-position: center;
}
  
#strategy-tile {
    background: url('../images/strategy.png') no-repeat;
    background-position: center;
}
 
#analytics-tile {
    background: url('../images/analytics.png') no-repeat;
    background-position: center;
}
  
#production-tile {
    background: url('../images/production.png') no-repeat;
    background-position: center;
}

#headx-tile {
    background: url('../images/headx.png') no-repeat;
    background-position: center;
}
  
#powerspec-tile {
    background: url('../images/powerspec.png') no-repeat;
    background-position: center;
}

#email-tile {
  background: url('../images/email_network.png') no-repeat;
  background-position: center;
}

#twitter-tile {
  background: url('../images/twitter_sentiment.png') no-repeat;
  background-position: center;
}


  