 
  .grid {
    padding: 15px 30px;
    justify-content: center;
    display: grid;
    grid-template-columns:420px 200px;

  }
  
  .right-column {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    border: solid 2px;
  }

  #instructions {
    font-size: 10px;
    color:blue;
  }
  
  .play-button {

    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }