
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    div{
        position: absolute;
        width:25%;
        border: width 5px;
        border-style:solid;
        margin: 5px;
        padding:5px;

    }

/* Here is one of many  CSS rules you will need... */
#one {
    bottom: 0;
    right: 0;
    border-color: blue;
}
#two {
    top: 0;
    right: 0;
    border-color: green;
}
#three {
    top: 0;
    left: 0;
    border-color: orange;
}
#four {
    bottom: 0;
    left: 0;
    border-color: yellow;
}

#link {position: relative;
    top: 0;
    text-align: center;
}

a {position: relative;
    padding:5px;
    background-color: #2f418e;
    color: #fefefe;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}